/* You can add global styles to this file, and also import other style files */

//Algumas cores de https://zeroheight.com/208c7c4a6/p/283d32-cores 
$cor-primaria: #165C7D;
$cor-cinza1: #E7EEF1;
$cor-cinza3: #A7B0B5;
$cor-cinza4: #889499;
$cor-branca: #FFF;
$cor-preta-ailos: #040F14;

//resets
body {
    margin: 0px;
}